@model AssetViewModel

<div class="media">
    <div class="media-left">
        <img class="media-object" src="<?php echo esc($data['icon_url']) ?>" alt="<?php echo esc($data['title']) ?>'s icon" width="80" height="80">
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            @if (!Model.Searchable)
            {
                <del>@Model.Title</del>
            }
            else
            {
                @Model.Title
            }

            <small>@Model.VersionString</small>

            @if (!Model.Searchable)
            {
                <span class="label label-default">Deleted</span>
            }

            <span class="label label-primary">@Model.Category</span>

            <span class="label label-info">@Model.GodotVersion</span>

            <support-level-label value="@Model.SupportLevel" />
        </h4>

        <p class="text-muted">
            Submitted by user @Html.ActionLink(Model.Author, "GetAssets", "Asset", new { user = Model.Author }, new{ title = $"Search assets by '{Model.Author}'" });
            @Model.Cost;
            @Model.ModifyDate
        </p>
        <p>
            @Model.Description
        </p>
    </div>
</div>
<hr />
<p>
    <a class="btn btn-default" href="@Model.BrowseUrl">
        <i class="glyphicon glyphicon-folder-open"></i> View files
    </a>
    <a class="btn btn-primary" href="@Model.DownloadUrl">
        <i class="glyphicon glyphicon-download"></i> Download
    </a>

    @if (!string.IsNullOrWhiteSpace(Model.IssuesUrl))
    {
        <a class="btn btn-success" href="@Model.IssuesUrl">
            <i class="glyphicon glyphicon-check"></i> Submit an issue
        </a>
    }

    <?php if(isset($user) && ($user['user_id'] == $data['author_id'] || $user['type'] >= $constants['user_type']['editor'])) { ?>
    <a class="btn btn-success" href="<?php echo raw($basepath) ?>/asset/<?php echo url($data['asset_id']) ?>/edit">
        <i class="glyphicon glyphicon-pencil"></i> Edit
    </a>
    <?php } ?>

    <a class="btn btn-warning" href="<?php echo raw($basepath) ?>/asset/edit?asset=<?php echo url($data['asset_id']) ?>&amp;status=new+in_review+accepted+rejected">
        <i class="glyphicon glyphicon-list"></i> Recent Edits
    </a>
</p>
<hr />
<div class="row">
    @foreach (var preview in Model.Previews)
    {
        <div class="col-xs-6 col-md-4 col-lg-3 text-center">
            <a href="@preview.Link" target="_blank" class="thumbnail">
                @if (preview.Type == "image")
                {
                    <img src="@preview.Link" width="100%" />
                }
                else
                {
                    <img src="@preview.Thumbnail" width="100%" />
                    <div class="btn btn-primary btn-lg" style="position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%); opacity: 0.8;">
                        <i class="glyphicon glyphicon-play" style="font-size:2em"></i>
                    </div>
                }
            </a>
        </div>
    }
</div>
@if (User.IsInRole("moderator"))
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            Admin tools
        </div>
        <div class="panel-body">
            @using (@Html.BeginForm("UpdateSupportLevel", "Asset", FormMethod.Post, new { @class = "form", style = "margin-bottom: 1em;" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Change support level</button>
                    </span>
                    <select id="support_level" name="support_level" class="form-control">
                        <?php foreach($constants['support_level'] as $id => $name) if(is_int($id)) { ?>
                        <option value="<?php echo esc($name) ?>" <?php if($name == $data['support_level']) echo 'selected=""'; ?>>
                    <?php echo esc(ucfirst($name)) ?>
                    </option>
                        <?php } ?>
                    </select>
                </div>
            }

            @if (Model.Searchable)
            {
                @using (@Html.BeginForm("DeleteAsset", "Asset", FormMethod.Post, new { @class = "form", style = "margin-bottom: 1em;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger" onclick="javascript:return window.confirm('Do you really want to delete this asset?');">Remove from library</button>
                }
            }
            else
            {
                @using (@Html.BeginForm("UndeleteAsset", "Asset", FormMethod.Post, new { @class = "form", style = "margin-bottom: 1em;" }))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-info" onclick="javascript:return window.confirm('Do you want to restore this asset?');">Restore to library</button>
                }
            }
        </div>
    </div>
}
