@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- if on any page that is /edit include robots noindex -->
    <title>@(ViewData.ContainsKey("Title") ? (@ViewData["Title"] + " - ") : string.Empty)Godot Asset Library</title>

    <link href="~/css/bootstrap-3.4.1.min.css" rel="stylesheet">
    <link href="~/css/base.css?7" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Navigation -->
        @await Html.PartialAsync("_NavBar")        
    </header>

    <main class="container">
    @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="col-md-12">
                <hr />
                <p>
                    Copyright &copy; @DateTime.Now.Year The Godot Engine community - MIT licensed
                    @if (User.Identity.IsAuthenticated)
                    {
                        <br><a href="@Url.Action("ChangePassword", "Auth")">Change Password</a>
                    }

                    <span class="text-muted pull-right">
                        Currently running version <a href="@string.Format(Configuration.GetValue<string>("Git:CommitUrl"), @ThisAssembly.GitCommitId)">@ThisAssembly.GitCommitId[..7]</a>.
                    </span>
                </p>
                <p class="text-muted text-right">
                    Links:
                    <a href="@(Configuration.GetValue<string>("Git:RepoUrl"))">GitHub repository</a> |
                    <a href="@(Configuration.GetValue<string>("Git:IssuesUrl"))">Issues</a> |
                    <a href="https://godotengine.org">Godot Engine homepage</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script defer src="~/js/jquery-3.7.0.slim.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script defer src="~/js/bootstrap-3.4.1.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
